@model RolnikowePole.ViewModels.EditZwierzeViewModel
@{
    ViewBag.Title = "DodajZwierze";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<h2>Dodanie zwierzęcia</h2>

@if (Model.Potwierdzenie.HasValue && Model.Potwierdzenie.Value)
{
    <div class="form-group text-success">
        Pomyślnie wprowadzono zmiany!
    </div>
}

@using (@Html.BeginForm("DodajZwierze", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group text-danger">
        @Html.ValidationSummary()
    </div>

    @Html.HiddenFor(o => o.Zwierze.ZwierzeId)
    @Html.HiddenFor(o => o.Zwierze.DataDodania)
    @Html.HiddenFor(o => o.Zwierze.NazwaPlikuObrazka)

    <div class="form-group">
        @Html.LabelFor(o => o.Zwierze.Nazwa, "Nazwa:")
        @Html.TextBoxFor(o => o.Zwierze.Nazwa, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Zwierze.Nazwa, null, new { @class = "form-text text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Zwierze.OpisZwierza, "Opis:")
        @Html.TextAreaFor(o => o.Zwierze.OpisZwierza, new { @class = "form-control", rows = "2" })
        @Html.ValidationMessageFor(o => o.Zwierze.OpisZwierza, null, new { @class = "form-text text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Zwierze.OpisSkrocony, "Opis skrócony:")
        @Html.TextBoxFor(o => o.Zwierze.OpisSkrocony, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Zwierze.OpisSkrocony, null, new { @class = "form-text text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Gatunki, "Gatunek:")
        @Html.DropDownListFor(m => m.Zwierze.GatunekId, new SelectList(Model.Gatunki, "GatunekId", "NazwaGatunku", Model.Gatunki.First().GatunekId))
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Zwierze.Miasto, "Miasto:")
        @Html.TextBoxFor(o => o.Zwierze.Miasto, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Zwierze.Miasto, null, new { @class = "form-text text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Zwierze.Wojewodztwo, "Województwo:")
        @Html.DropDownListFor(m => m.Zwierze.Wojewodztwo, new SelectList(ViewBag.Wojewodztwa), new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Zwierze.CenaZwierza, "Cena:")
        @Html.TextBoxFor(o => o.Zwierze.CenaZwierza, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Zwierze.CenaZwierza, null, new { @class = "form-text text-danger" })
    </div>

    <div class="form-group">
        <div class='input-group date'>
            @Html.LabelFor(o => o.Zwierze.DataNarodzin, "Data Narodzin: ")
            @Html.TextBoxFor(o => o.Zwierze.DataNarodzin, new { @id = "d1" })
            @Html.ValidationMessageFor(o => o.Zwierze.DataNarodzin, null, new { @class = "form-text text-danger" })
        </div>
    </div>


    if (ViewBag.EditMode == null || !ViewBag.EditMode)
    {
    <div class="form-group">
        <label for="exampleFormControlFile1">Wprowadź zdjęcie</label>
        <input type="file" name="file" class="form-control-file">
        @Html.ValidationMessageFor(o => o.Zwierze.NazwaPlikuObrazka, null, new { @class = "form-text text-danger" })
    </div>
    }

    else if (ViewBag.EditMode)
    {
        if (Model.Zwierze.Ukryty)
        {
            <div class="form-group">
                <a href="@Url.Action("PokazZwierza", "Manage", new { zwierzeId = Model.Zwierze.ZwierzeId })" style="display: block; margin-top: 15px; font-weight: bold;">
                    Przywróć
                </a>
            </div>
        }
        else
        {
            <div class="form-group">
                <a href="@Url.Action("UkryjZwierza", "Manage", new { zwierzeId = Model.Zwierze.ZwierzeId })" style="display: block; margin-top: 15px; font-weight: bold;">
                    Usuń
                </a>
            </div>
        }
    }

    <button type="submit" class="btn btn-primary">Zapisz</button>

}

@section Scripts
{
    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <script type="text/javascript">
            $(function () {
                // This will make every element with the class "date-picker" into a DatePicker element
                $('#d1').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    timePicker: true,
                    minYear: 1981
                });
            });
        </script>*@

}

