@model RolnikowePole.ViewModels.ManageCredentialsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="container">

    <h2 style="margin-bottom: 30px">Twoje dane</h2>

    @using (Ajax.BeginForm("ChangeProfile", "Manage", new AjaxOptions {

        Confirm = "Potwierdź wprowadzone dane",
        OnSuccess = "alert('Pomyslnie wprowadzono zmiany')"

    }))
    {
        @Html.AntiForgeryToken()

        <div class="form-row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(o => o.DaneUzytkownika.Imie, "Imię:")
                @Html.TextBoxFor(o => o.DaneUzytkownika.Imie, new { @class = "form-control", placeholder = "Imie " })
                @Html.ValidationMessageFor(o => o.DaneUzytkownika.Imie)
            </div>

            <div class="col-md-6 mb-3">
                @Html.LabelFor(o => o.DaneUzytkownika.Nazwisko, "Nazwisko")
                @Html.TextBoxFor(o => o.DaneUzytkownika.Nazwisko, new { @class = "form-control", placeholder = "Nazwisko" })
                @Html.ValidationMessageFor(o => o.DaneUzytkownika.Nazwisko)
            </div>
        </div>

        <div class="form-row">

            <div class="col-md-5 mb-3">
                @Html.LabelFor(o => o.DaneUzytkownika.Adres, "Adres")
                @Html.TextBoxFor(o => o.DaneUzytkownika.Adres, new { @class = "form-control", placeholder = "Ulica" })
                @Html.ValidationMessageFor(o => o.DaneUzytkownika.Adres)
            </div>

            <div class="col-md-4 mb-3">
                @Html.LabelFor(o => o.DaneUzytkownika.Miasto, "Miasto")
                @Html.TextBoxFor(o => o.DaneUzytkownika.Miasto, new { @class = "form-control", placeholder = "Miasto" })
                @Html.ValidationMessageFor(o => o.DaneUzytkownika.Miasto)
            </div>

            <div class="col-md-3 mb-3">
                @Html.LabelFor(o => o.DaneUzytkownika.KodPocztowy, "Kod pocztowy")
                @Html.TextBoxFor(o => o.DaneUzytkownika.KodPocztowy, new { @class = "form-control", placeholder = "Kod" })
                @Html.ValidationMessageFor(o => o.DaneUzytkownika.KodPocztowy)
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(o => o.DaneUzytkownika.Telefon, "Numer telefonu")
                @Html.TextBoxFor(o => o.DaneUzytkownika.Telefon, new { @class = "form-control", placeholder = "Telefon" })
                @Html.ValidationMessageFor(o => o.DaneUzytkownika.Telefon)
            </div>

            <div class="col-md-6 mb-3">
                @Html.LabelFor(o => o.DaneUzytkownika.Email, "Adres e-mail")
                @Html.TextBoxFor(o => o.DaneUzytkownika.Email, new { @class = "form-control", placeholder = "E-mail" })
                @Html.ValidationMessageFor(o => o.DaneUzytkownika.Email)
            </div>
        </div>

        <input type="submit" value="Potwierdź" class="submitLink btn btn-primary" />
    }


    <h2 style="margin-bottom: 30px; margin-top: 10px;">Zmiana hasła</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="invalid-feedback">
            @Html.ValidationMessage("password-error", "")
        </div>

        if (Model.Message.HasValue)
        {
            <div class="invalid-feedback text-danger">
                @switch (Model.Message)
                {
                    case RolnikowePole.Controllers.ManageController.ManageMessageId.ChangePasswordSuccess:
                        @: Hasło zmienione pomyślnie!
                        break;
                    case RolnikowePole.Controllers.ManageController.ManageMessageId.Error:
                        @: Wystąpił błąd
                        break;
                }
            </div>
        }

        <div class="form-row">
            <div class="col-md-4 mb-3">
                @Html.LabelFor(o => o.ChangePasswordViewModel.OldPassword, "Obecne hasło:")
                @Html.PasswordFor(o => o.ChangePasswordViewModel.OldPassword, new { @class = "form-control", placeholder = "Obecne hasło" })
                @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.OldPassword)
            </div>

            <div class="col-md-4 mb-3">
                @Html.LabelFor(o => o.ChangePasswordViewModel.NewPassword, "Nowe hasło:")
                @Html.PasswordFor(o => o.ChangePasswordViewModel.NewPassword, new { @class = "form-control", placeholder = "Nowe hasło" })
                @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.NewPassword)
            </div>

            <div class="col-md-4 mb-3">
                @Html.LabelFor(o => o.ChangePasswordViewModel.ConfirmPassword, "Potwierdź hasło:")
                @Html.PasswordFor(o => o.ChangePasswordViewModel.ConfirmPassword, new { @class = "form-control", placeholder = "Wpisz ponownie nowe hasło" })
                @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.ConfirmPassword)
            </div>
        </div>
        <input type="submit" value="Zmień" class="submitLink btn btn-primary" />
    }
</div>


@section Scripts
{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
