@model IEnumerable<RolnikowePole.Models.Zamowienie>
@{
    ViewBag.Title = "ListaZamowien";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="container">
    <div class="row">
        @if (Model.Any())
        {
            foreach (var zamowienie in Model)
            {
                foreach (var pozycjaZamowienia in zamowienie.PozycjeZamowienia)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card" style="width: 18rem; @(zamowienie.StanZamowienia == RolnikowePole.Models.StanZamowienia.Nowy ? "background-color: #92a8d1;" : "")">
                            <a href="@Url.Action("Szczegoly", "Zwierzeta", new { id = pozycjaZamowienia.ZwierzeId })">
                                <img class="card-img-top" src="@Url.Content("~/Content/Kursy/" + pozycjaZamowienia.zwierze.NazwaPlikuObrazka)" alt="Card image cap" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><strong>Nr zamówienia: </strong>@zamowienie.ZamowienieId </h5>
                                <p class="card-text">
                                    <strong style="float: left; margin-right: 15px;">Stan:</strong>
                                    @if (ViewBag.UserIsAdmin)
                                    {
                                        using (Html.BeginForm("ZmianaStanuZamowienia", "Manage"))
                                        {
                                            @Html.HiddenFor(o => zamowienie.ZamowienieId)
                                            @Html.EnumDropDownListFor(o => zamowienie.StanZamowienia, new { @class = "StanZamowieniaZmien" })
                                        }
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(o => zamowienie.StanZamowienia)
                                    }
                                    <strong>Dane wysyłkowe:</strong><br />
                                    @zamowienie.Imie @zamowienie.Nazwisko<br />
                                    @zamowienie.Adres<br />
                                    @zamowienie.KodPocztowy @zamowienie.Miasto<br />
                                    <strong>Uwagi: </strong><br /> @zamowienie.Komentarz
                                    <strong>Łączny koszt:</strong> @zamowienie.WartoscZamowienia zł
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Nazwa:</strong> @pozycjaZamowienia.zwierze.Nazwa , <strong>Cena: </strong> @pozycjaZamowienia.zwierze.CenaZwierza
                                </li>
                                <li class="list-group-item">
                                    <strong>sztuk: @pozycjaZamowienia.Ilosc</strong>
                                </li>
                                <li class="list-group-item">
                                    <strong>Łącznie:</strong> @(pozycjaZamowienia.Ilosc * @pozycjaZamowienia.CenaZakupu)  zł
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
                Brak zamówień.
            </div>
        }

    </div>
</div>

@section scripts
        {
    <script>
                //Odowłanie do stanuZamowienia i bedziemy odwoływać się w momencie gdy nastąpi zmiana!
                $(".StanZamowieniaZmien").on('change', function (e) {
                        //e.preventDefault();
                    var f = $(this);
                    var tr = f.closest("div");


                    $.ajax({
                        type: "POST",
                        data: f.serialize(),
                        success: function (data) {
                            if (data == '@RolnikowePole.Models.StanZamowienia.Nowy.ToString()') {
                                alert('tak');
                                tr.addClass("background-color", "black")
                            }
                            else {
                                alert(data)
                                tr.parent.css("background-color", "#9431d1;");
                            }
                        }
                    });



                @*var f = $(this);
                var action = f.attr("action");
                var serializedForm = f.serialize();

                $.post(action, serializedForm).done(function (data) {
                    if (data == '@RolnikowePole.Models.StanZamowienia.Nowy.ToString()') {
                        f.css("background-color", "#92a8d1;");
                    }
                    else {
                        f.css("background-color", "");
                    }
                  });*@
            });

    </script>
}