@model RolnikowePole.ViewModels.WiadomosciViewModel

@{
    ViewBag.Title = "Wiadomosci";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


<div class="container">
    <div class="row">
        @if (Model.WiadomosciOtrzymane.Count() > 0 && Model.WiadomosciWyslane.Count() > 0)
        {
            <h1>Wiadomosci wysłane</h1>
            @foreach (var wWyslane in Model.WiadomosciWyslane)
            {
                <div class="col-lg-6 bg-danger">
                    <p>@wWyslane.Body</p>
                    <p>@wWyslane.DateAndTimeOfSend</p>
                    <p>@wWyslane.Receiver</p>
                </div>
            }

            <h1>Wiadomosci odebrane</h1>
            @foreach (var wOtrzymane in Model.WiadomosciOtrzymane)
            {
            <div class="col-lg-6 bg-info">
                <p>@wOtrzymane.Body</p>
                <p>@wOtrzymane.DateAndTimeOfSend</p>
                <p>@wOtrzymane.Receiver</p>
            </div>
            }
        }
    </div>
</div>

