@model RolnikowePole.ViewModels.WiadomosciOdzieloneViewModel
@using RolnikowePole.Infrastucture

@{
    ViewBag.Title = "WyswietlWiadomosciUzytkownika";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<h2>Wiadomości otrzymane : </h2>
<hr />

@if (Model.WiadomosciOtrzymane.Count > 0)
{
    foreach (var item in Model.WiadomosciOtrzymane)
    {
        <a href="@Url.Action("WiadomosciKonwersacja", new { idZwierza = item.Zwierze.ZwierzeId , idUser =  item.Id, Otrzymane = true})" style="text-decoration: none; color:white;">
            <div class="media bg-info">
                <img class="mr-3" style="width:64px; height: 64px;" src="@Url.ObrazkiSciezka(item.Zwierze.NazwaPlikuObrazka)" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">@item.NazwaUzytkownika | @item.Zwierze.Nazwa | <text style="margin-left: 2px;">@item.DataWyslania</text></h5>
                    <strong>@item.TrescWiadomosci</strong>
                </div>
            </div>
        </a>
    }
}


<hr />
<h2>Wiadomości wysłane:</h2>
<hr />
@if (Model.WiadomosciWyslane.Count > 0)
{
    foreach (var item in Model.WiadomosciWyslane)
    {
        <a href="@Url.Action("WiadomosciKonwersacja", new { idZwierza = item.Zwierze.ZwierzeId , idUser =  item.Id })" style="text-decoration: none; color:white;">
            <div class="media bg-dark">
                <img class="mr-3" style="width:64px; height: 64px;" src="@Url.ObrazkiSciezka(item.Zwierze.NazwaPlikuObrazka)" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">@item.NazwaUzytkownika | @item.Zwierze.Nazwa | <text style="margin-left: 2px;">@item.DataWyslania</text></h5>
                    <strong>@item.TrescWiadomosci</strong>
                </div>
            </div>
        </a>
    }
}
<hr />

@*@foreach (var item in Model)
    {
        <p>@item.ReceiverId</p>
    }*@


@*@if (Model.WiadomosciOtrzymane.Count() > 0)
    {
        <ul>
            @foreach (var item in Model.WiadomosciOtrzymane)
            {
                <li>
                    @item.Body <hr />
                </li>
            }
        </ul>
    }*@


@*@if (Model.WiadomosciWyslane.Count() > 0)
    {
        <ul>
            @foreach (var item in Model.WiadomosciWyslane)
            {
                <li>
                    @item.Body <hr />
                </li>
            }
        </ul>
    }*@
