@model RolnikowePole.ViewModels.WiadomosciOdzieloneViewModel

@{
    ViewBag.Title = "WyswietlWiadomosciUzytkownika";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<h2>WyswietlWiadomosciUzytkownika</h2>

@if (Model.WiadomosciOtrzymane.Count > 0)
{
    foreach (var item in Model.WiadomosciOtrzymane)
    {
        <a href="@Url.Action("WiadomosciKonwersacja", item.Id)">
            <div class="media">
                <img class="mr-3" src="~/Content/img.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">@item.NazwaUzytkownika + <text style="margin-left: 2px;">@item.DataWyslania</text></h5>
                    @item.TrescWiadomosci
                    @if (item.Zwierze != null)
                    {
                        <p>@item.Zwierze.Nazwa</p>
                        <p>@item.Zwierze.NazwaPlikuObrazka</p>
                    }
                </div>
            </div>
        </a>
    }
}

@if (Model.WiadomosciWyslane.Count > 0)
{
    foreach (var item in Model.WiadomosciWyslane)
    {
        <a href="@Url.Action("WiadomosciKonwersacja", item.Id)">
            <div class="media">
                <img class="mr-3" src="~/Content/img.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">@item.NazwaUzytkownika + <text style="margin-left: 2px;">@item.DataWyslania</text></h5>
                    @item.TrescWiadomosci

                    @if (item.Zwierze != null)
                    {
                    <p>@item.Zwierze.Nazwa</p>
                    <p>@item.Zwierze.NazwaPlikuObrazka</p>
                    }
                </div>
            </div>
        </a>
    }
}


@*@foreach (var item in Model)
    {
        <p>@item.ReceiverId</p>
    }*@


@*@if (Model.WiadomosciOtrzymane.Count() > 0)
    {
        <ul>
            @foreach (var item in Model.WiadomosciOtrzymane)
            {
                <li>
                    @item.Body <hr />
                </li>
            }
        </ul>
    }*@


@*@if (Model.WiadomosciWyslane.Count() > 0)
    {
        <ul>
            @foreach (var item in Model.WiadomosciWyslane)
            {
                <li>
                    @item.Body <hr />
                </li>
            }
        </ul>
    }*@
