@model RolnikowePole.ViewModels.KoszykViewModel
@using RolnikowePole.Infrastucture
@{
    ViewBag.Title = "Koszyk";
}

<div class="container">
    <div class="row">
        @Html.Action("GatunkiMenu", "Zwierzeta")

        @if (Model.PozycjeKoszyka.Count <= 0)
        {
        <div class="col-lg-9 align-middle" id="extra">
            <div class="row"></div>
            <div class="row m-2">
                <p id="koszyk-empty-message" class="text-center">
                    Nic nie obserwujesz!
                </p>
            </div>
            <div class="row h-50"></div>
        </div>
        }

        else
        {
            <!-- /.col-lg-3 -->
            <div class="col-lg-9" id="main">
                <div class="row">
                    @foreach (var pozycjaKoszyka in Model.PozycjeKoszyka)
                    {
                        <div class="col-lg-4 col-md-6 mb-4" id="koszyk-wiersz-@pozycjaKoszyka.Zwierze.ZwierzeId">
                            <div class="card h-100">
                                <a href="@Url.Action("Szczegoly", "Zwierzeta", new { id = pozycjaKoszyka.Zwierze.ZwierzeId })">
                                    <img class="img-fluid" src="@Url.Content("~/Content/Kursy/" + pozycjaKoszyka.Zwierze.NazwaPlikuObrazka)" />
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="@Url.Action("Szczegoly", "Zwierzeta", new { id = pozycjaKoszyka.Zwierze.ZwierzeId })">
                                            @pozycjaKoszyka.Zwierze.Nazwa
                                        </a>
                                    </h4>
                                    <h5>@pozycjaKoszyka.Zwierze.CenaZwierza</h5>
                                    <p class="card-text">@pozycjaKoszyka.Zwierze.OpisZwierza</p>
                                    <p>@String.Format("{0:0.##}", pozycjaKoszyka.Wartosc) zł</p>
                                </div>

                                <a class="usunZwierze" data-id="@pozycjaKoszyka.Zwierze.ZwierzeId" href="#">
                                    <div class="card-footer bg-secondary d-flex justify-content-center">
                                        Usuń
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="row bg-dark text-white mb-sm-2">

                    <div class="col-md-6 text-center" id="CenaCalkowita">
                        <a class="btn btn-outline-primary btn-lg m-2 text-capitalize" href="@Url.Action("Index", "Home")">Kontynuuj zakupy</a>
                    </div>

                    @*<div class="col-md-4 text-center">
                        @if (Model.CenaCalkowita > 0)
                        {

                            <a class="btn btn-outline-success btn-lg m-2 text-capitalize" id="koszyk-button-zaplac" href="@Url.Action("Zaplac", "Koszyk")">Zapłać</a>
                        }
                    </div>*@

                    <div class="col-md-6 text-center mt-3 " id="CenaCalkowita">
                        <span class="btn-danger lead"> Razem: <span id="calkowita-cena-wartosc">@String.Format("{0:0.##}", Model.CenaCalkowita)</span> zł </span>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndjqueryUI")
    <script type="text/javascript">
        $(function () {
            $(".usunZwierze").click(function ()
            {
                var $this = $(this);
                var recordDoUsuniecia = $this.attr("data-id");

                if (recordDoUsuniecia != '') {
                    $.post("/Koszyk/UsunZKoszyka", { "ZwierzeId": recordDoUsuniecia }, function (respons) {
                        if (respons.IloscPozycjiUsuwanej == 0) {

                            $('#koszyk-wiersz-' + respons.IdPozycjiUsuwanej).fadeOut('slow', function () {
                                if (respons.KoszykIloscPozycji == 0) {
                                    $('#koszyk-empty-message').removeClass("hidden");
                                }
                            });
                        }
                        else {
                            $('#koszyk-ilosc-pozycji-' + respons.IdPozycjiUsuwanej).text(response.IloscPozycjiUsuwanej);
                        }

                        if (respons.KoszykIloscPozycji == 0)
                        {
                            //$('#koszyk-button-zaplac').addClass('hidden');
                            //$('#CenaCalkowita').addClass('invisible');
                            location.reload(); 
                        }
                        $('#calkowita-cena-wartosc').text(respons.KoszykCenaCalkowita);
                        $('#koszyk-naglowek-ilosc-elementow').text(respons.KoszykIloscPozycji);
                    });
                    return false;
                }
            });
        });
    </script>
}
