@model IEnumerable<RolnikowePole.Models.Zwierze>
@{
    ViewBag.Title = "Lista";
}

<div class="container">
    <div class="row">
        @Html.Action("GatunkiMenu", "Zwierzeta")
        <div class="col-lg-9">
            <h1>@ViewBag.NazwaGatunku</h1>
            <div class="col-lg-12 bg-dark m-1 p-3" id="Sortowanie">
                <div class="btn-group">
                    @Html.DropDownList("Wojewodztwa",  new SelectList(ViewBag.Wojewodztwa), "Wszystkie" ,
                    new { @class = "form-control" })

                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info" id="btnSortowanieDaty">
                        Najnowsze
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info" id="btnSortowanieCeny">
                        Najtańsze
                    </button>
                </div>

            </div>

            <div class="w-100"></div>

            @{Html.RenderPartial("_ZwierzetaList");}
        </div>
    </div>
</div>
@section Scripts
{

    <script>
        $(document).ready(function ()
        {
            $('#btnSortowanieDaty').click(function () {
                $.ajax({
                    type: "POST",
                     @*url: "@Url.Action("ZaktuazlizujWidok", "Zwierzeta")",*@
                    data: { nazwa: "Data"},
                success: function (result)
                {
                    //TODO: jezeli p;usty to nie renderuj
                    console.log('Powinno zmienic');
                    $('#SekcjaListaZwierzat').html(result);
                }
                });
            });

            $('#btnSortowanieCeny').click(function () {
                $.ajax({
                    type: "POST",
                     @* url: "@Url.Action("ZaktuazlizujWidok", "Zwierzeta")",*@
                data: { nazwa: "Cena" },
                success: function (result) {
                    //TODO: jezeli p;usty to nie renderuj
                    console.log('Powinno zmienic');
                    $('#SekcjaListaZwierzat').html(result);
                }
            });
        });


            $('#Wojewodztwa').change(function ()
            {
                var nazwaJ = $('#Wojewodztwa Option:Selected').text();
                $.ajax({
                    type: "POST",
                    @*url: "@Url.Action("ZaktuazlizujWidok", "Zwierzeta")",*@
                    data: { nazwa: nazwaJ, nazwaGatunku: "@ViewBag.NazwaGatunku" },
                    success: function (result) {
                        if (!$.trim($(result).html()).length)
                        {
                            $('#SekcjaListaZwierzat').html('<p>Wybrane wojewodztwo nie posiada zwierząt z wybranego województwa</p>');
                        }
                        else
                        {
                            $('#SekcjaListaZwierzat').replaceWith(result);
                        }
                    }
                });
                return false;
            });
        });
    </script>
}

