@model RolnikowePole.ViewModels.HomeViewModel
@using RolnikowePole.Infrastucture
@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "Szczegoly";
}
<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- col-lg-3 -->
        @Html.Action("GatunkiMenu", "Zwierzeta")
        <!--/col-lg-3 -->

        <div class="col-lg-5">

            @if (Model.Zdjecia.Count() != 0)
            {
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    @foreach (var zdjecie in Model.Zdjecia)
                    {
                        if (zdjecie == Model.Zdjecia.First())
                        {
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="@Url.ObrazkiSciezka(zdjecie.FilePath)" alt="First slide">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img class="d-block w-100" src="@Url.ObrazkiSciezka(zdjecie.FilePath)" alt="First slide">
                            </div>
                        }

                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            }else
            {
                <img class="img-fluid mb-2" style="height: 400px;" src="@Url.ObrazkiSciezka(Model.Zwierze.NazwaPlikuObrazka)" alt="">
            }

            @if (User.Identity.IsAuthenticated)
            {
                if (User.Identity.GetUserId() != Model.Zwierze.UserId)
                {
                    using (Ajax.BeginForm("WyslijWiadomosc", "Manage", new { FromSzczegoly = true },
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                Confirm = "Potwierdz wyslanie wiadomosci",
                                OnSuccess = "alert('Pomyslnie wyslano wiadomosc')"
                            }))
                    {
                        { Model.wiadomosc.DateAndTimeOfSend = DateTime.Now; Model.wiadomosc.ZwierzeId = Model.Zwierze.ZwierzeId; }

                        @Html.HiddenFor(m => m.wiadomosc.ReceiverId)
                        @Html.HiddenFor(m => m.wiadomosc.SenderId)
                        @Html.HiddenFor(m => m.wiadomosc.DateAndTimeOfSend)
                        @Html.HiddenFor(m => m.wiadomosc.ZwierzeId)

                        <label>Wyslij wiadomosc</label>
                        @Html.TextAreaFor(m => m.wiadomosc.Body, new { @class = "form-control", rows = "3" })

                        <input type="submit" class="btn btn-outline-danger btn-sm float-right mt-2" value="Wyslij" />
                    }
                }
            }
        </div>

        <div class="col-lg-4">

            <div class="card  mb-2" style="width: 18rem;">
                <h5 class="card-title">Dane Użytkownika</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: <strong>@Model.daneUzytkownika.Email</strong></li>
                    <li class="list-group-item">Imie:  <strong>@Model.daneUzytkownika.Imie</strong></li>
                    <li class="list-group-item">Nazwisko:  <strong>@Model.daneUzytkownika.Nazwisko</strong></li>
                    <li class="list-group-item">Telefon: <strong> @Model.daneUzytkownika.Telefon</strong></li>
                    <li class="list-group-item">Adres:  <strong>@Model.daneUzytkownika.Adres</strong></li>
                    <li class="list-group-item">Kod Pocztowy: <strong> @Model.daneUzytkownika.KodPocztowy</strong></li>
                </ul>
            </div>


            <div class="card" style="width: 18rem;">
                <h5 class="card-title">Dane Produktu</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nazwa:<strong> @Model.Zwierze.Nazwa</strong></li>
                    <li class="list-group-item">Cena: <strong>@string.Format("{0:0.##}", Model.Zwierze.CenaZwierza)<span>PLN</span></strong></li>
                    <li class="list-group-item">Opis: <strong>@Model.Zwierze.OpisZwierza</strong></li>
                    <li class="list-group-item"> <a href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = Model.Zwierze.ZwierzeId })">Dodaj Do Obserwowanych</a></li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="list-group-item"> <a href="@Url.Action("DodajZwierze", "Manage", new { zwierzeId = Model.Zwierze.ZwierzeId })">Edytuj</a></li>
                    }
                </ul>
            </div>

        </div>
       
            
       
    </div>

    <div class="row">
        Nowości
        <div class="row mb-4">

            @foreach (var zwierze in Model.Nowe)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="@Url.Action("Szczegoly","Zwierzeta", new { id = zwierze.ZwierzeId })"><img class="card-img-top img-fluid" src="@Url.ObrazkiSciezka(zwierze.NazwaPlikuObrazka)" onerror="this.onerror=null;this.src='http://placehold.it/700x400';" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="@Url.Action("Szczegoly","Zwierzeta", new { id = zwierze.ZwierzeId })">@zwierze.Nazwa</a>
                            </h4>
                            <h5>@zwierze.CenaZwierza</h5>
                            <p class="card-text">@zwierze.OpisZwierza</p>
                        </div>

                        <a class="dodajDoKoszykaLink" style="text-decoration: none;" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = zwierze.ZwierzeId })">
                            <div class="card-footer bg-secondary d-flex justify-content-center">
                                Dodaj Do Koszyka
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>

        Wyróżnione
        <div class="row mb-4">
            @foreach (var zwierze in Model.Wyroznione)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="@Url.Action("Szczegoly","Zwierzeta", new { id = zwierze.ZwierzeId })"><img class="card-img-top img-fluid" src="@Url.ObrazkiSciezka(zwierze.NazwaPlikuObrazka)" onerror="this.onerror=null;this.src='http://placehold.it/700x400';" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="@Url.Action("Szczegoly","Zwierzeta", new { id = zwierze.ZwierzeId })">@zwierze.Nazwa</a>
                            </h4>
                            <h5>@zwierze.CenaZwierza</h5>
                            <p class="card-text">@zwierze.OpisZwierza</p>
                        </div>

                        <a class="dodajDoKoszykaLink" style="text-decoration: none;" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = zwierze.ZwierzeId })">
                            <div class="card-footer bg-secondary d-flex justify-content-center">
                                Dodaj Do Koszyka
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

</div>