@model RolnikowePole.ViewModels.HomeViewModel
@using RolnikowePole.Infrastucture

@{
    ViewBag.Title = "Rolnikowe Pole";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Aktulanie wybrany gatunek</h1>
            <div class="list-group">
                @foreach (var gatunki in Model.Gatunki)
                {
                    <a href="@Url.Action("Lista","Zwierzeta", new { nazwaGatunku = gatunki.NazwaGatunku.ToLower() })" class="list-group-item " style="background-image: url(@Url.IkonyGatunkowSciezka(gatunki.NazwaPlikuIkony)); text-align: center;">
                        @gatunki.NazwaGatunku
                    </a>
                }
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div class="row">
                @foreach (var zwierze in Model.ZwierzetaGatunku)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="@Url.Action("Szczegoly","Zwierzeta", new { id = zwierze.ZwierzeId })"><img class="card-img-top img-fluid" src="@Url.ObrazkiSciezka(zwierze.NazwaPlikuObrazka)" onerror="this.onerror=null;this.src='http://placehold.it/700x400';" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="@Url.Action("Szczegoly","Zwierzeta", new { id = zwierze.ZwierzeId })">@zwierze.Nazwa</a>
                                </h4>
                                <h5>@zwierze.CenaZwierza</h5>
                                <p class="card-text">@zwierze.OpisZwierza</p>
                            </div>

                            <a class="dodajDoKoszykaLink" style="text-decoration: none;" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = zwierze.ZwierzeId })">
                                <div class="card-footer bg-secondary d-flex justify-content-center">
                                        Dodaj Do Koszyka                                    
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
