@model RolnikowePole.ViewModels.HomeViewModel
@using RolnikowePole.Infrastucture

@{
    ViewBag.Title = "Rolnikowe Pole";
}



<nav class="kategorieHorizontal">
    <ul>
        @foreach (var gatunki in Model.Gatunki)
        {
            <li>
                <a href="@Url.Action("Lista","Zwierzeta", new { nazwaGatunku = gatunki.NazwaGatunku.ToLower() })" style="background-image: url(@Url.IkonyGatunkowSciezka(gatunki.NazwaPlikuIkony)); ">
                    @gatunki.NazwaGatunku
                </a>
            </li>
        }
    </ul>
    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var wyrozniony in Model.Wyroznione)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = wyrozniony.ZwierzeId })">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly","Zwierzeta", new { id = wyrozniony.ZwierzeId })">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiSciezka(wyrozniony.NazwaPlikuObrazka)" />
                        <h1>
                            @wyrozniony.Nazwa
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var noweZwierze in Model.NoweZwierzeta)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = noweZwierze.ZwierzeId })">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly","Zwierzeta", new { id = noweZwierze.ZwierzeId })">
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiSciezka(noweZwierze.NazwaPlikuObrazka)" />
                        <h1>
                            @noweZwierze.Nazwa
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>
